@use '../mixins/responsive.scss' as *;

.card {
  position: relative;
  background-color: var(--card);
  width: 327px;
  height: 780px;
  border-radius: 10px 10px 0 0;

  @include responsive(laptop) {
    display: flex;
    flex-direction: row-reverse;
    width: 1110px;
    height: 446px;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    width: 327px;
    height: 240px;
    border-radius: 10px 10px 0 0;
    background-color: var(--purple-opacity);

    @include responsive(laptop) {
      width: 540px;
      height: 446px;
    }
  }

  &__image {
    border-radius: 10px 10px 0 0;
    width: 327px;
    height: 240px;

    @include responsive(laptop) {
      width: 540px;
      height: 446px;
    }
  }

  &__inside {
    padding: 40px 31px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(laptop) {
      width: 407px;
      margin-right: 100px;
      margin-top: 30px;
    }
  }

  &__title {
    color: var(--white);
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin: 0;

    @include responsive(laptop) {
      width: 407px;
      font-size: 36px;
      line-height: 44px;
      text-align: left;
    }
  }

  &__inside--purple {
    color: var(--purple);
  }
  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.758);
    text-align: center;

    @include responsive(laptop) {
      text-align: left;
      width: 407px;
      margin-top: 30px;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 24px;

  &__number {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
  }
  &__info {
    color: (rgba(255, 255, 255, 0.604));
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Lexend Deca', sans-serif;
  }
}

.stats__container {
  display: flex;
  flex-direction: column;

  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
    gap: 63px;
    margin-top: 50px;
  }
}
